body {
  text-align: center;
  background-color: black;

}
html {
  text-align: center;
}
h1 {
background-color: greenyellow;
font-size: medium;
color: black;

}
p {
  background-color: black;
  font-size: small;
  color: greenyellow;

}
section {
  background-color: blue;
  padding-left: 20px;
  color: white;
}
form {
  align-items: center;
  color:greenyellow

}
button {
  background-color: red;
  padding: 5px;
}