@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Silkscreen:wght@400;700&display=swap');
/*Above, the font Silkscreen is imported from google fonts.  Below, a css reset is provided to give a clean slate in terms of margin and padding.*/
* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
body {
  font: 1.5rem "Silkscreen";
  text-align: center;
  background-color: black;
}
html {
  text-align: center;
}
h1 {
background-color: greenyellow;
font-size: x-large;
color: black;

}
div {
  width: fit-content;
  padding: 3rem;
  border: 10px dotted white;
  margin: 1.5rem;

}
p {
  background-color: black;
  font-size: small;
  color: greenyellow;
  padding: 1rem;

}
section {
  background-color:greenyellow;
  color:black;
}
form {
  align-items: center;
  color:greenyellow

}
button {
  font: 1.5rem "Silkscreen";
  background-color: red;
  padding: 5px;
}
a {
  text-decoration: none;
}
/*while the above css focuses on the anchor tag selector more generally, below, the css works on the anchor tag as the user interacts with it*/
a:visited {
  color: lightgray;
}
a:hover {
  text-decoration:underline;
  color: aliceblue;
}
input:focus {
  background-color: greenyellow;
}
footer {
  background-color: white;
  color: black;
  position: sticky;
  bottom: 0;
}
/*below, a media query changes the display of the website for viewports smaller than 600 pixels*/
@media screen and (max-width: 600px) {
  body {
    font-size: smaller;
    background-color: red;
    padding: 1rem;
  }
  button {
    background-color: black;
    color: red;
  }
  h1 {
    background-color: black;
    font-size: medium;
    color: red;
    
    }
    p {
      background-color: red;
      font-size: small;
      color: black;
    
    }
    section {
      background-color:black;
      padding-left: 20px;
      color:red;
    }
    form {
      align-items: center;
      color:black
    
    }
}